@import "partials/base";

footer {
    padding: 50px 0;
    background: #fff;
    border-top: 10px solid $cor-base;
    border-bottom: 50px solid $cor-base;

    @include breakpoint($break-medium) {
        padding: 20px 0;
        border-bottom: 20px solid $cor-base;
    }
}
